/* Estilo global */
body {
  font-family: 'Itim', cursive !important;
  scroll-behavior: smooth;
}

/* Estilização dos card dos concursos */
.card {
  background-color: #f8f9fa;
  border: none;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  transition: transform 0.2s ease;
  border-radius: 12px;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

/* Estilização dos anúncios */
.nome-instituicao {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
}

.anuncio-card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  border-radius: 10px;
  overflow: hidden;
}

.anuncio-card:hover {
  transform: scale(1.02);
}

.anuncio-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Estilização da setinha para poder ver o vídeo do Nathan */
* Animação da setinha ao abrir */
.rotate-icon {
  transition: transform 0.3s;
}

.collapsing + .rotate-icon,
.collapse.show + .rotate-icon {
  transform: rotate(180deg);
}