/* Nossa fonte principal */
body {
  font-family: 'Itim', cursive !important;
  scroll-behavior: smooth;
}

/* Estilo da logo */
.logo img {
  height: 50px;
}

/* Menu hover */
.nav-link:hover {
  color: #00c853 !important;
}

.header-custom {
  background-color: #00d455; /* Cor de fundo do header, pode ser também: 00d455 ou 73986f */
}

.search-bar input {
  max-width: 500px;
}

.access-icons i {
  cursor: pointer;
  font-size: 1.2rem;
}

/* Responsivo */
@media (max-width: 768px) {
  header .container {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  nav .nav {
    flex-direction: column;
    padding-left: 0;
  }

  .btn {
    align-self: flex-end;
  }
}
